/target
*.onnx
*.mp4
*.mov
*.avi
*.pt
*.zip
*.dSYM/

# runtime/debug symbol artifacts
models/onnxruntime/
models/onnxruntime/lib/*.dSYM/
src-tauri/.focus-lock/

# frontend
ui/node_modules
ui/dist
ui/.svelte-kit

.DS_Store
.DS_Store
